<form (ngSubmit)="handleSubmit()">
  <div class="bg-white px-6 py-8">
    <div class="mb-2">
      <label for="firstName" class="text-gray-700 block text-sm font-bold capitalize">firstName</label>
      <input id="firstName"
             name="firstName"
             class="mt-1 w-full px-3 py-2 border rounded"
             [(ngModel)]="item['firstName']"
              type="text"
              placeholder=""
      />
    </div>
    <div class="mb-2">
      <label for="lastName" class="text-gray-700 block text-sm font-bold capitalize">lastName</label>
      <input id="lastName"
             name="lastName"
             class="mt-1 w-full px-3 py-2 border rounded"
             [(ngModel)]="item['lastName']"
              type="text"
              placeholder=""
      />
    </div>
    <div class="mb-2">
      <label for="name" class="text-gray-700 block text-sm font-bold capitalize">name</label>
      <input id="name"
             name="name"
             class="mt-1 w-full px-3 py-2 border rounded"
             [(ngModel)]="item['name']"
              type="text"
              placeholder=""
      />
    </div>
  </div>
  <div class="bg-neutral-100 px-4 py-6 flex justify-between">
    <button
      type="submit"
      class="px-6 py-2 bg-green-500 text-white font-medium rounded shadow-md hover:bg-green-600"
    >
      Submit
    </button>
    @if (this.delete) {
    <app-delete (click)="handleDelete()"/>
    }
  </div>
</form>
