<div class="px-4 mt-4">
  <div class="flex items-center justify-end">
    <a [routerLink]="['/heroes']"
       class="text-blue-600 hover:text-blue-800">
      Back to list
    </a>
  </div>
  @if (isLoading$) {
    <div class="bg-blue-100 rounded py-4 px-4 text-blue-700 text-sm">Loading ...</div>
  } @else {
    <h1 *ngIf="item$ | async as item" class="text-3xl my-4">Edit {{ item["@id"] }} {{ item['name'] }}</h1>
    <app-form [fields]="formType"
              [itemToUpdate$]="item$"
              (submit)="onSubmit($event)"
    />
  }
</div>
