<table
  class="shadow-md table border-collapse min-w-full leading-normal table-auto text-left my-3"
>
  <thead class="w-full text-xs uppercase font-light text-gray-700 bg-gray-200 py-2 px-4">
  <tr>
    <th class="px-3 py-2text-sm font-medium px-6 py-4 text-left capitalize">
      <input type="checkbox"
             name="selectedAll"
             (change)="selected()"
      >
    </th>
    <th class="px-3 py-2text-sm font-medium px-6 py-4 text-left capitalize">book</th>
    <th class="px-3 py-2text-sm font-medium px-6 py-4 text-left capitalize">body</th>
    <th class="px-3 py-2text-sm font-medium px-6 py-4 text-left capitalize">rating</th>
    <th class="px-3 py-2text-sm font-medium px-6 py-4 text-left capitalize">letter</th>
    <th class="px-3 py-2text-sm font-medium px-6 py-4 text-left capitalize">user</th>
    <th class="px-3 py-2text-sm font-medium px-6 py-4 text-left capitalize">publishedAt</th>
    <th [colSpan]="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  @for (item of items(); track item) {
  <tr>
    <td class="px-3 py-2 w-2">
      <input type="checkbox"
             name="bulk"
             [id]="item['@id']"
             [checked]="bulk.includes(item['@id']!)"
             (change)="addToBulk(item['@id']!)"
      >
    </td>
    <td class="px-3 py-2 text-sm">
      {{ item['book'] }}
          </td>
    <td class="px-3 py-2 text-sm">
      {{ item['body'] }}
          </td>
    <td class="px-3 py-2 text-sm">
      {{ item['rating'] }}
          </td>
    <td class="px-3 py-2 text-sm">
      {{ item['letter'] }}
          </td>
    <td class="px-3 py-2 text-sm">
      {{ item['user'] }}
          </td>
    <td class="px-3 py-2 text-sm">
      {{ formatDateTime(item['publishedAt']) }}
    </td>
    <td class="px-3 py-2">
      <a [routerLink]="[item['@id']]" class="text-cyan-500">
        Show
        <app-show-svg/>
      </a>
    </td>
    <td class="px-3 py-2">
      <a [routerLink]="[item['@id'], 'edit']" class="text-cyan-500">
        Edit
        <app-edit-svg/>
      </a>
    </td>
  </tr>
  } @empty {
  <tr>
    <td class="px-3 py-2 text-center italic p-6">
      Pas de données.
    </td>
  </tr>
  }
  </tbody>
</table>
